@use '_variables';
@use '_mixins';

.question-btn {
  @include mixins.textFontStyles(18px, 22, 18, variables.$color5);

  font-family: variables.$fontFamily2;
  font-style: normal;
  font-weight: variables.$fontWeightSemiBold;

  background: variables.$color3;
  border-radius: 0.75rem;
  padding: 16px 22px;

  @media screen and (max-width: 575.98px) {
    @include mixins.textFontStyles(16px, 19.5, 16, variables.$color5);
  }

  white-space: nowrap;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    color: variables.$color4;
    background: rgba(187, 159, 100, 0.45);
    border: 1px solid variables.$color2;
    box-shadow: inset 18rem 0 0 0 rgba(205, 162, 116, 0.41);
  }

  &:focus {
    color: variables.$color4;
    background: rgba(187, 159, 100, 0.6);
    border-color: variables.$color2;
    box-shadow: 0px 5px 9px 0px rgba(41, 47, 54, 0.65);
  }
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 25px;
  bottom: 25px;
  z-index: 99999;
  background: variables.$color3;
  width: 70px;
  height: 70px;
  border: 1px solid variables.$color1;
  border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;

  box-shadow: inset 0 0 0 50px transparent;

  i {
    font-size: 24px;
    color: variables.$color2;
    line-height: 0;
  }

  &:hover {
    background: variables.$color2;
    border: 1px solid variables.$color1;
    box-shadow: inset 0 0 0 0 variables.$color3;

    i {
      color: variables.$color3;
    }
  }

  &:focus {
    background: variables.$color2;
    border: 1px solid variables.$color1;
    box-shadow: 0px 5px 9px 0px rgba(205, 162, 116, 0.65);

    i {
      color: variables.$color3;
    }
  }
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
