@use '_variables';
@use '_mixins';

.footer {
  .row {
    margin: 0;
    padding: 0;
    @media screen and (max-width: 575.98px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .question-btn {
    border: 1px solid variables.$color2;
  }
}

.contact-info {
  .row {
    margin: 0;
    padding: 0;
    @media screen and (max-width: 575.98px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .h5 {
      border-bottom: 1px solid variables.$color1;
    }

    .medium-paragraph {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
